<ion-header>
    <ion-toolbar>
      <ion-title>
        Ionic App
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h1>Welcome to My Ionic App</h1>
          <p>
            This is the home page of the app.
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button routerLink="/forgot-password" expand="full">Forgot Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  